<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head.ejs') %>
<body>
  <!-- Header -->
  <%- include('../views/partials/headerLogueado.ejs') %>
  <!-- /Header -->
  
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= <%- info.foto %> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%- info.usuario %> 
						<a href="http://localhost:3000/cartastic/profile/profileEdit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					<div>
						<ul class="">
							<li>
						<% let num = 0
							for (let i = 0; i < productos.length; i++) {
								if(productos[i].vendedor.toLowerCase()=== info.usuario.toLowerCase()){
									num = num + 1
								}
							}%>
	
								<%- num %> productos</li>
							<li><%- info.seguidores %> seguidores</li>
							<li>
							<% let num1 = 0
								for (let i = 0; i < productos.length; i++) {
									for(let z=0; z < productos[i].comentariosProd2.length; z++)
										if(productos[i].comentariosProd2[z].user.toLowerCase()=== info.usuario.toLowerCase()){
											num1 = num + 1
									}
								}%>
								<%- num1  %> comentarios</li>
						</ul>
						<div>
							<p>
								<%- info.email %>
							</p>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for (let i = 0; i < productos.length; i++) {
				if (productos[i].vendedor.toLowerCase() === info.usuario.toLowerCase()) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="http://localhost:3000/cartastic/product/<%- productos[i].nombreProducto %>">
							<figure class="product-box_image">
								<img src="<%-productos[i].fotoProducto%>" alt='<%-productos[i].nombreProducto%>'>
							</figure>
							<article class="product-box_data">
								<h2><%- productos[i].nombreProducto %></h2>
								<p><%- productos[i].descripcion %></p>
								<p>Comentarios: <%- productos[i].comentariosProd2.length %></p>
							</article>
						</a>
					</section>
				</div>
				<%} }%>
		</div>
	</div>


	<%- include('./partials/footer')%>

</body>	
</html>